<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <header>
        @*The below line of code will call the method InvokeAsync() of the MenuViewComponent class
        passing the view name "Menu" as a parameter. It will concatenate "Menu" with "ViewComponent" to identify which class.
        Then it will run InvokeAsync() of MenuViewComponent.cs class; this method will decide the view to load (check it)
        It will load the content of the View Components/Menu/Default.cshtml in this area*@
        @await Component.InvokeAsync("Menu")
        @*FROM MICROSOFT.DOC:
        To use the view component, call the following inside a view:
        @await Component.InvokeAsync("Name of view component", { Anonymous Type Containing Parameters})*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
