@model WebApplication1.Models.Election

@{
    ViewData["Title"] = "Create";
}

<!--LETS LOAD THE CSS OF THIS VIEW-->
<partial name="_createElectionStyle" />

<h1>Create Election</h1>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@*IN HERE PUT STEP 1 AND STEP 2 JUST LIKE YOU DID IN THE BELFORT PROJECT*@


<hr />
<div class="row" id="step-one">
    <div class="col-12"> <h2>Step 1</h2></div>

    <div class="col-md-6" id="election-input-container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" id="election-name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input type="date" asp-for="StartDate" class="form-control" id="start-date-election" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DurationInDays" class="control-label"></label>
            <input type="number" asp-for="DurationInDays" class="form-control" id="duration-in-days" />
            <span asp-validation-for="DurationInDays" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HasNeutral" class="control-label"></label>
            <input type="checkbox" asp-for="HasNeutral" class="form-control" id="has-neutral" />
            <span asp-validation-for="HasNeutral" class="text-danger"></span>
        </div>
        <button class="btn btn-secondary" type="button" id="send-election-button" title="Validate Election">
            <i class="fa fa-rocket" aria-hidden="true"></i> Save
        </button>
        <div class="spinner-border" id="send-election-spinner">

        </div>
    </div>
</div>

<br />
<hr />
<br />

<div id="step-two">
    <div class="col-12"> <h2>Step 2</h2></div>
    <div class="col-12"> <p id="candidates-title-text">Please Select Candidates concerned by this Election</p></div>

    <div id="selected-candidates-area">
        <p id="selected-candidates-title">Selected Candidates</p>
        <div id="candidates-container">
            <div class="one-container transparent-candidate">
                <p>No Candidates Selected</p>
            </div>
        </div>
    </div>
    <table class="table" id="voters-table">
    </table>
    
</div>
<partial name="_jQuery" />
<partial name="_datatablesScript" />
<partial name="_createElectionScript" />