@model WebApplication1.Models.Election
@{
    ViewData["Title"] = "Edit";
}

<partial name="_editElectionStyle" />

<h1>Edit an Election</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <!--<form asp-action="EditElection">-->
        <!--<form>-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!--THIS IS NOT GONNA BE DISPLAYED FOR USER BUT IS MANDATORY IN THE FORM SO THAT THE OBJECT SENT INTO "EDITVOTER" ACTION OF VOTERCONTROLLER WILL HOLD CORRECT DATA-->
        <input asp-for="Id" type="hidden" id="election-holder-id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control changeable" id="election-name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input type="date" asp-for="StartDate" class="form-control changeable" id="start-date-election" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DurationInDays" class="control-label"></label>
            <input type="number" asp-for="DurationInDays" class="form-control changeable" id="duration-in-days" />
            <span asp-validation-for="DurationInDays" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HasNeutral" class="control-label"></label>
            <input type="checkbox" asp-for="HasNeutral" class="form-control changeable" id="has-neutral" />
            <span asp-validation-for="HasNeutral" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" id="submit-updated-election" />
        </div>
        <div class="spinner-border" id="update-candidate-spinner">

        </div>
        <!--</form>-->
    </div>
</div>



<br />
<hr />
<br />

<div id="step-two">

    <div id="selected-candidates-area">
        <p id="selected-candidates-title">Selected Candidates</p>
        <div id="candidates-container">
            
        </div>
    </div>
    <table class="table" id="voters-table">
    </table>




    <h1>Old way before using jquery datatable</h1>
    <div class="col-12"> <h4>List of Candidates</h4></div>
    <br />
    <div class="spinner-border" id="candidate-list-spinner">

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
                <th>
                    StateName
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
<partial name="_jQuery" />
<partial name="_editElectionScript" />