@model IEnumerable<WebApplication1.Models.Voter>

@{
    ViewData["Title"] = "Index";
}
<partial name="_datatablesStyle" />
<partial name="_tablesButtonsStyling" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="voters-table">
   
</table>

<partial name="_jQuery" />
<partial name="_datatablesScript" />
<partial name="_jQueryDatatablesInitialization" />
<partial name="_prepareVotersjQueryDatatable" />

