@model IEnumerable<WebApplication1.Models.Voter>

@{
    ViewData["Title"] = "List of Voters";
    int votersCount = ViewBag.votersCount;
}

@{ /*Importing namespace Microsoft.Extensions.Localization; */}
@using Microsoft.Extensions.Localization;

@{/*Injecting IStringLocalizer for Labelsc.s shared resource in variable named labelsLocalizer */}
@inject IStringLocalizer<Labels> labelsLocalizer


<partial name="_datatablesStyle" />
<partial name="_tablesButtonsStyling" />
<h1>@labelsLocalizer["List of Voters"]</h1>

<p>
    <a asp-action="Create">@labelsLocalizer["Create New"]</a>
</p>

<partial name="_downloadExcelStyle" />
<form class="excel-downlod-container" asp-action="ExportToExcel">
    <button type="submit" title=@labelsLocalizer["Download Excel File"]>
        <i class="fa fa-file-excel-o" aria-hidden="true"></i> @votersCount @labelsLocalizer["rows"]
    </button>
</form>


<table class="table" id="voters-table">
</table>

<partial name="_jQuery" />
<partial name="_datatablesScript" />
<partial name="_jQueryDatatablesInitialization" />
<partial name="_prepareVotersjQueryDatatable" />

