@model IEnumerable<WebApplication1.Models.Voter>

@{
    ViewData["Title"] = "Index";
}
<partial name="_datatablesStyle" />
<style>
    /* THIS IS BUTTONS' STYLE IN TABLES */
    .table-button{
        font-size:85%;
        margin-left:4px; margin-right:4px;
        background-color:transparent;
    }
    .button-delete{
        color:red;        
    }
    .button-details {
        color: #212529;
    }
    .button-edit {
        color:#212529;
    }
</style>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="voters-table">
   
</table>

<partial name="_jQuery" />
<partial name="_datatablesScript" />

<script>
    //now lets make it a jquery datatables server side processing
    document.addEventListener("DOMContentLoaded", initializeDatatable);

    function initializeDatatable() {
        $("#voters-table").DataTable(
            {
                "processing": true,//whether to show 'processing' indicator when waiting for a processing result or not
                "serverSide": true,//for server side processing
                "filter": true,//this is for disable filter (search box)
                "ajax": {
                    "url": '/Voter/DataTable',
                    "type": 'POST',
                    "datatype":'json'
                },
                "columnDefs": [
                    { "type": "numeric-comma", targets: "_all" }
                ],
                "columns":
                    [//These are the columns to be displayed, and they are the fields of the voters objects brought from the server
                        { "data": "Id", "visible": false, "searchable": false },
                        { "data": "FirstName", "title": "FirstName", "name": "FirstName", "visible": true, "searchable": true, "sortable": false},
                        { "data": "LastName", "title": "Last Name", "name": "LastName", "visible": true, "searchable": true, "sortable": false },
                        { "data": "State.Name", "title": "State", "visible": true, "searchable": true, "sortable": false },
                        {
                            "data": null, "searchable": false, "sortable": false,
                            "render": function (data, type, row, meta) {
                                var buttons =
                                "<a class='table-button button-edit' title='Edit' href=" + '@Url.Action("Edit")/' + row.Id + "><i class='fa fa-pencil'></i></a>" + " " +
                                    "<a class='table-button button-details' title='Details' href=" + '@Url.Action("Details")/' + row.Id + "><i class='fa fa-file-text'></i></a>"+ " " +
                                    "<a class='table-button button-delete' title='Delete' href=" + '@Url.Action("Delete")/' + row.Id + "><i class='fa fa-trash'></i></a>"
                                    ;
                                 return buttons;
                            }
                            }
                    ]
            }
        );
    }


</script>
