/* animation to hide the candidate after user clicks 'Remove'*/
.hiding-container {
    animation-name: slowly_hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slowly_hide {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0.8;
    }

    40% {
        opacity: 0.6;
    }

    60% {
        opacity: 0.4;
    }

    80% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
        display: none;
    }
}
