#step-two {
    display: none;
}

.successBG {
    background-color: #eafaf1 /*#d3febc*/;
}

.successText {
    color: #145a32 /*#087360*/;
}

html {
    /*this is added so that the scrolling will be done smoothly inside the html document ... I needed scrolling when step1 is done*/
    scroll-behavior: smooth;
}

#send-election-spinner {
    display: none;
}
.select-candidate-btn {
    color: #3262ec !important;
    cursor: pointer;
}



#selected-candidates-area {
    display:none;
    margin-top:3%;
    margin-bottom:3%;
}
#candidates-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left:5px; margin-right:5px;
    transition-delay:0.1s;
    transition-duration:0.5s;
}
    #candidates-container .one-container {
        border: 1px solid #145a32;
        border-radius: 4px;
        color: #145a32;
        padding: 1.5%;
        text-align: center;
        background-color: #eafaf1;
    }
        #candidates-container .one-container:hover {
            transition-delay: 0.1s;
            transition-duration: 0.5s;
            box-shadow: 0px 0px 3px #145a32;
        }
    #candidates-container .one-container p {
        font-size:120%;
    }

    #candidates-container .one-container .remove-candidate-btn {
        text-align: center;
        color: red;
        font-size: 80%;
        cursor:pointer;
    }
.hidden-spinner{
    display:none;
}
.centered-spinner{
    margin-left:auto; margin-right:auto;
}
#candidates-title-text{
    font-size:130%;
}