#submit-updated-election {
    display: none;
}

#update-candidate-spinner {
    display: none;
}






#voters-table{
    display:none;
}
.hidden-spinner {
    display: none;
}

.centered-spinner {
    margin-left: auto;
    margin-right: auto;
}
#candidates-spinner{
    display:none;
}