@*WE LOAD AN EMPTY VIEW THEN IT GETS FILLED USING JQUERY AJAX*@
@model WebApplication1.Models.ViewModels.DashboardViewModel

@{ 
    ViewData["Title"] = "Home";
}

<partial name="_dashboardStyle" />
<partial name="_datatablesStyle" />

<br />
<h1 class="margins text-center">Welcome to Voting App</h1>
<hr />
<br />
<div class="dashboard-holder">
    <div class="dashboard-left-side">
        <div id="current-election-area">
            <h3>Current Election</h3>
            <div class="spinner-border text-primary">

            </div>
        </div>

        <div class="margined-area" id="coming-elections-area">
            <h3>Future Elections</h3>
            <div class="spinner-border text-primary">

            </div>
            <table class="table" id="coming-elections-table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            StartDate
                        </th>
                        <th>
                            Duration (days)
                        </th>
                        <th>
                            Number of Candidates
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="margined-area" id="previous-elections-area">
            <h3>Previous Elections</h3>
            <table class="table" id="previous-elections-table">
            </table>
        </div>
        
    </div>
    <div class="dashboard-right-side">
        <h2 class="text-center">Statistics</h2>
        <hr />
        <div class="dashboard-item-container">
            <i class="fa fa-university" aria-hidden="true"></i>
            <p>@Model.NbElections Elections</p>
        </div>
        <div class="dashboard-item-container">
            <i class="fa fa-id-card-o" aria-hidden="true"></i>
            <p>@Model.NbCandidates Candidates</p>
        </div>
        <div class="dashboard-item-container">
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>@Model.NbVoters Voters</p>
        </div>
        <div class="dashboard-item-container">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <p>@Model.NbVotes Votes</p>
        </div>
    </div>
</div>
<br />
<br />
<div id="election-results-container-parent" class="hidden_results_container">
    <div id="close-button-container">
        <span>
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </div>
    <p id="title">Results of the Election</p>

    <div id="election-results-container"></div>
</div>






<partial name="_jQuery" />
<script src="~/lib/jspdf/jspdf.min.js"></script>
<partial name="_pdfMakeScripts" />
<partial name="_datatablesScript" />
<partial name="_jQueryDatatablesInitialization" />
<partial name="_dashboardScript" />
<partial name="_redModalStyle" />
<partial name="_redModal" />